h1{
  color:green;
  text-align: center;
}
u{
  color:green;
}
p{
  font-size: 26px;
  color:rgba(88, 58, 20, 0.945);
  text-align: center;
}
.i1{
  position: absolute;
  top:160px;
  left: 150px;
}
.i2{
  position: absolute;
  top:160px;
  left:500px;
}
.i3{
  position: absolute;
  top:160px;
  left:850px;
}
.i4 {
  position: absolute;
  top:500px;
  left:450px;
}
.i5{
  position: absolute;
  top:580px;
  left:50px;
}